.chat {
  border: 1px solid gray;
  border-radius: 4px;
}

.chat__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 1px solid gray;
}
