.profile_product_row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid black;
  padding: 10px;
  border-radius: 4px;
}

.profile_product_row__title {
  margin-left: 10px;
}
